<div class="container">
    <div class="search-wrapper">
        <div class="w-25">
            <form
            [formGroup]="weatherSearchForm" (ngSubmit)="searchWeather(weatherSearchForm.value)">
            <input formControlName='location' class="form-control" type="text" placeholder="Search">
            <!-- <button type="submit" class="btn btn-success btn-md"> Search for the weather</button> -->
            </form>
        </div>
    </div>
    <!-- Weather details -->
    <h3>{{city}}</h3>
    <p>Our Recommendation : <span>Carry an umbrella</span></p>
    <div class="weather-content-wrapper">
        <div class="weather">
            <div class="icon">
                <div class="iconi"></div>
                <h2>{{weatherData.main.temp}}K</h2>
                <!-- <h2>25°c</h2> -->
            </div>
           